Repository briansunter/pokeclaude: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, biome check --write --no-errors-on-unmatched

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  aec08fb306c491f272c31497572159c05de61823
Due: none

feat(skills): update with latest Feb 2026 meta (B2/B2a)
  skills/pokemon-card-analysis/SKILL.md
  skills/pokemon-deck-building/SKILL.md
  skills/pokemon-meta-analysis/SKILL.md
Due: prettier --write

chore(release): 3.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  3622d27aa980d10f2fb1a256dc88bcd6ccce7774
Due: none

feat: add rarity scraping, remove unused resistance field
  CLAUDE.md
  scraper/src/scraper.ts
  src/common.ts
  src/formatters.ts
  src/index.test.ts
  src/index.ts
  src/types.ts
Due: eslint --fix, prettier --write, biome check --write --no-errors-on-unmatched

fix: resolve lint errors for CI
  scraper/src/scraper.ts
  src/index.test.ts
Due: eslint --fix, prettier --write, biome check --write --no-errors-on-unmatched

ci: allow workflow_dispatch to trigger release job
  .github/workflows/release.yml
Due: prettier --write, biome check --write --no-errors-on-unmatched

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  54bd5baa6e076c7cdda58f7c85051b65b7ef878d
Due: none

feat: update all skills and game rules to Pulsing Aura (B3) meta
  skills/pokemon-card-analysis/SKILL.md
  skills/pokemon-deck-building/SKILL.md
  skills/pokemon-meta-analysis/SKILL.md
  skills/pokemon-skill-builder/SKILL.md
  src/gameRules.ts
Due: eslint --fix, prettier --write, biome check --write --no-errors-on-unmatched

chore: bump version to 3.3.0
  package-lock.json
  package.json
Due: prettier --write, biome check --write --no-errors-on-unmatched

chore(release): 4.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
Due: prettier --write, biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  d576bf2f559a811934eb4974364351d383a24fdf
Due: none

feat: add B-series sets (B1-B3a), 3405 cards, update meta for Paradox Drive B3a
  .agents/skills/repo-build-publish/SKILL.md
  .agents/skills/repo-meta-research/SKILL.md
  .agents/skills/repo-scraper/SKILL.md
  CLAUDE.md
  README.md
  data/pokemon_pocket_cards.csv
  skills/pokemon-card-analysis/REFERENCE.md
  skills/pokemon-card-analysis/SKILL.md
  skills/pokemon-deck-building/REFERENCE.md
  skills/pokemon-deck-building/SKILL.md
  skills/pokemon-meta-analysis/REFERENCE.md
  skills/pokemon-meta-analysis/SKILL.md
  skills/pokemon-skill-builder/SKILL.md
Due: prettier --write

chore: release v4.2.0
  package-lock.json
  package.json
Due: prettier --write, biome check --write --no-errors-on-unmatched

docs: clarify semantic-release handles all versioning, no manual npm version
  CLAUDE.md
Due: prettier --write

fix(scraper): preserve weakness and attack effects in incremental scrape
  scraper/bun.lock
  scraper/src/scraper.ts
Due: eslint --fix, prettier --write, biome check --write --no-errors-on-unmatched

feat(data): add Everyday Wonders (B3b) + 8 new Promo-B cards
  data/pokemon_pocket_cards.csv
Due: none

chore(release): 4.2.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  1f0ecb8b56177c230b598988422293b9576befd5
Due: none

feat(skills): refresh tier lists, card tiers, and deck lists to settled B3a + Everyday Wonders B3b
  skills/pokemon-card-analysis/REFERENCE.md
  skills/pokemon-deck-building/REFERENCE.md
  skills/pokemon-meta-analysis/REFERENCE.md
Due: prettier --write

chore(release): 4.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  3a7c271931a31ca6e06dc653cc519d99ea41f36c
Due: none

feat(data): add Ruler of the Skies cards
  CLAUDE.md
  README.md
  data/pokemon_pocket_cards.csv
Due: prettier --write

chore(release): 4.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  184ab942a7900e24b4dbb8b2a7cf1d72ddf82aed
Due: none

fix(docs): correct card database count
  CLAUDE.md
  README.md
Due: prettier --write

chore(release): 4.4.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  3b39a18d69e1d35164ff84af75f357f333665da2
Due: none

feat(skills): refresh tier lists, card tiers, and deck lists to settled B4a meta
  skills/pokemon-card-analysis/REFERENCE.md
  skills/pokemon-deck-building/REFERENCE.md
  skills/pokemon-deck-building/SKILL.md
  skills/pokemon-meta-analysis/REFERENCE.md
  skills/pokemon-meta-analysis/SKILL.md
Due: prettier --write

feat(data): add Team Rocket's Ambition (B4a) cards
  data/pokemon_pocket_cards.csv
Due: none

Notes added by 'git notes add'
  4e87bb15dbf9f51f67abf5ee6d2956b768669fe9
Due: none

ci: fetch shared NPM_CI_TOKEN from BWS via sm-action
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write, biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  52975cd67507a21c192caa11aeeec71f1096c4f5
Due: none

chore(release): 4.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  cb33ba5569ef3241951bfee3f5ff0323fe490c04
Due: none

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: ((((any of: *.ts) or (any of: *.js)) or (any of: *.json)) or (any of: *.md)) or (any of: *.{yml,yaml})
  biome check --write --no-errors-on-unmatched: ((any of: *.{ts,js}) or (any of: *.json)) or (any of: *.{yml,yaml})
