Repository briansunter/pokeclaude: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: add NPM_CONFIG_LEGACY_PEER_DEPS env var for semantic-release
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  mcp-server/package.json
Due: prettier --write

Notes added by 'git notes add'
  d67ff93a4e4402ba2d1d03e64cd7994444ccdd4d
Due: none

chore: upgrade zod from v3 to v4
  .github/workflows/release.yml
  .releaserc.json
  bun.lock
  mcp-server/package.json
Due: prettier --write

fix: update peerDependencies to zod v4 for CLI compatibility
  mcp-server/package.json
Due: prettier --write

fix: upgrade root workspace to zod v4
  package.json
Due: prettier --write

feat: upgrade to zod v4 and convert project to bun
  .claude/settings.json
  .commitlintrc.cjs
  .lintstagedrc.json
  .prettierrc.json
  .releaserc.json
  biome.json
  bun.lock
  claude-plugins/pokeclaude-cli-docs/.mcp.json
  claude-plugins/pokeclaude-cli-docs/plugin.json
  claude-plugins/pokeclaude-mcp-docs/.mcp.json
  claude-plugins/pokeclaude-mcp-docs/plugin.json
  claude-plugins/pokeclaude-repo-mgr/plugin.json
  eslint.config.js
  mcp-server/claude-desktop-config.json
  mcp-server/package-lock.json
  mcp-server/package.json
  mcp-server/src/cli.ts
  mcp-server/src/formatters.ts
  mcp-server/src/gameRules.ts
  mcp-server/src/index.test.ts
  mcp-server/src/index.ts
  mcp-server/tsconfig.json
  package.json
  scraper/package.json
  scraper/src/scraper.ts
  scraper/tsconfig.json
Due: eslint --fix, prettier --write

ci: fix test script path in workflow
  package.json
Due: prettier --write

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  mcp-server/package.json
Due: prettier --write

Notes added by 'git notes add'
  e198dbe48520db7bb2e6f4cc9b99e7df901b6c97
Due: none

fix: add dedicated bin wrapper for bunx compatibility
  mcp-server/bin/cli.js
  mcp-server/package.json
Due: eslint --fix, prettier --write

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  mcp-server/package.json
Due: prettier --write

Notes added by 'git notes add'
  dfd77393dbd60019d5cca0b0d9257eba6fc02f29
Due: none

refactor: eliminate circular dependency with static imports
  mcp-server/bin/cli.js
  mcp-server/package.json
  mcp-server/src/cli.ts
  mcp-server/src/common.ts
  mcp-server/src/db.ts
  mcp-server/src/index.ts
  mcp-server/src/types.ts
Due: eslint --fix, prettier --write

docs: update architecture documentation for modular design
  README.md
Due: prettier --write

chore: include refactor commits in releases
  .releaserc.json
Due: prettier --write

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  mcp-server/package.json
Due: prettier --write

Notes added by 'git notes add'
  29aa637c85bde71f8358b1e0c1e3e697cf06ddc4
Due: none

feat: add latest cards, infrastructure improvements, and quality enhancements
  CHANGELOG.md
  COVERAGE.md
  bun.lock
  data/pokemon_pocket_cards.csv
  package.json
  scraper/src/scraper.ts
  src/cli.ts
  src/db.ts
  src/index.test.ts
  src/index.ts
  src/logger.ts
Due: eslint --fix, prettier --write

style: apply linting fixes from pre-commit hooks
  .claude-plugin/plugin.json
  .mcp.json
  cli.ts
  index.ts
  package.json
  scraper/bun.lock
  scraper/src/scraper.ts
  src/cli.ts
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: update CI workflow for root-level package structure
  .github/workflows/release.yml
Due: prettier --write

fix: correct data file copy path in CI workflow
  .github/workflows/release.yml
Due: prettier --write

fix: setup Node.js 22 for semantic-release compatibility
  .github/workflows/release.yml
Due: prettier --write

ci: disable semantic-release after refactor to unified package
  .github/workflows/release.yml
Due: prettier --write

chore: re-enable semantic-release for unified package
  .commitlintrc.json
  .github/workflows/release.yml
  .releaserc.json
  package.json
Due: prettier --write

style: fix commitlint config formatting
  .commitlintrc.json
Due: prettier --write

fix: disable npm publishing due to invalid NPM_TOKEN
  .releaserc.json
Due: prettier --write

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  cc0b2150a99a54710158e90c3ac2234c7e5cea89
Due: none

fix: add smart data directory path finding to root index.ts
  index.ts
Due: eslint --fix, prettier --write

chore(release): 3.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  16769de6085166a14df8a4c5408274fd2e3f9642
Due: none

chore: update BWS integration to match arcfetch pattern
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

fix: use correct BWS secret name (BWS_NPM_TOKEN_SECRET_ID)
  .github/workflows/release.yml
Due: prettier --write

chore(release): 3.0.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d5a9da90f54ed3e95d45b5acdc82809032a7bd66
Due: none

feat(data): add B2a Paldean Wonders set (131 new cards)
  bun.lock
  data/pokemon_pocket_cards.csv
Due: none

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: ((((any of: *.ts) or (any of: *.js)) or (any of: *.json)) or (any of: *.md)) or (any of: *.{yml,yaml})
