Repository briansunter/pokeclaude: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: Add test script to scraper for CI/CD
  package.json
  scraper/package.json
Due: prettier --write

fix: Add missing @eslint/js dependency for ESLint 9
  package-lock.json
  package.json
Due: prettier --write

ci: Verify CI pipeline works with @eslint/js dependency
  ci-test.md
Due: prettier --write

ci: Clean up test file
  ci-test.md
Due: prettier --write

fix: Add zod dependency and properly type MCP tool parameters
  mcp-server/package.json
  mcp-server/src/index.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: Simplify test timeout - only increase server startup wait time
  mcp-server/src/index.test.ts
Due: eslint --fix, prettier --write

fix: Add cleanup step to kill stuck Bun processes in CI
  .github/workflows/ci.yml
  mcp-server/src/index.test.ts
Due: eslint --fix, prettier --write

fix: Add cleanup step to release workflow too
  .github/workflows/release.yml
Due: prettier --write

fix: Increase server wait to 4.5s to fit under 5s timeout
  mcp-server/src/index.test.ts
Due: eslint --fix, prettier --write

ci: Try setting BUN_TEST_TIMEOUT environment variable
  .github/workflows/ci.yml
Due: prettier --write

ci: Increase test step timeout to 10 minutes
  .github/workflows/ci.yml
Due: prettier --write

fix: Add .bunfig.toml to increase test timeout to 60s
  mcp-server/.bunfig.toml
Due: none

fix: Add --timeout flag to bun test command
  mcp-server/.bunfig.toml
  mcp-server/package.json
Due: prettier --write

fix: Increase MCP request timeout from 5s to 60s
  mcp-server/src/index.test.ts
Due: eslint --fix, prettier --write

fix: Increase timeouts to 120 seconds for CI
  mcp-server/package.json
  mcp-server/src/index.test.ts
Due: eslint --fix, prettier --write

fix: resolve integration test timeout in CI
  .github/workflows/ci.yml
  mcp-server/src/index.test.ts
Due: eslint --fix, prettier --write

fix: add build step before tests in CI to copy CSV data
  .github/workflows/ci.yml
Due: prettier --write

chore: remove PR commit message validation
  .github/workflows/commit-lint.yml
Due: prettier --write

feat: Add Pokemon TCG Pocket comprehensive research documentation
  docs/pokemon-tcg-pocket-research/CONVERSATION-SUMMARY.md
  docs/pokemon-tcg-pocket-research/MASTER-INDEX.md
  docs/pokemon-tcg-pocket-research/RESEARCH-PLAN.md
  docs/pokemon-tcg-pocket-research/card-guides/01-best-cards-list.md
  docs/pokemon-tcg-pocket-research/card-guides/02-ex-pokemon-tier-list.md
  docs/pokemon-tcg-pocket-research/card-guides/03-trainer-card-guide.md
  docs/pokemon-tcg-pocket-research/complete-guides/01-beginner-to-advanced.md
  docs/pokemon-tcg-pocket-research/complete-guides/02-progression-guide.md
  docs/pokemon-tcg-pocket-research/complete-guides/03-competitive-roadmap.md
  docs/pokemon-tcg-pocket-research/deckbuilding/01-deckbuilding-guide.md
  docs/pokemon-tcg-pocket-research/deckbuilding/02-deck-archetypes.md
  docs/pokemon-tcg-pocket-research/deckbuilding/03-budget-decks.md
  docs/pokemon-tcg-pocket-research/meta/01-meta-analysis.md
  docs/pokemon-tcg-pocket-research/meta/02-top-tier-decks.md
  docs/pokemon-tcg-pocket-research/meta/03-budget-vs-premium-analysis.md
  docs/pokemon-tcg-pocket-research/rules/01-core-rules-guide.md
  docs/pokemon-tcg-pocket-research/strategies/01-advanced-strategies.md
  docs/pokemon-tcg-pocket-research/strategies/02-tournament-strategies.md
  docs/pokemon-tcg-pocket-research/strategies/03-type-matchups.md
  docs/pokemon-tcg-pocket-research/strategies/04-energy-zone-mastery.md
  docs/pokemon-tcg-pocket-research/strategies/05-competitive-play.md
  docs/pokemon-tcg-pocket-research/strategies/06-ultra-competitive-mastery.md
  docs/pokemon-tcg-pocket-research/strategies/07-card-game-general-principles.md
  docs/pokemon-tcg-pocket-research/strategies/09-tech-cards-situational-plays.md
  strategies/06-ultra-competitive-mastery.md
Due: prettier --write

fix: ensure data file is available before running tests
  .github/workflows/release.yml
  mcp-server/package.json
Due: prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  mcp-server/package.json
Due: prettier --write

Notes added by 'git notes add'
  cd0ddfdd96e270d345c432f596666a15de27d5f6
Due: none

chore: fix readme
  PLUGIN_MARKETPLACE.md
  README.md
Due: prettier --write

clean: remove junk files and consolidate README
  .commitlintrc.cjs
  .cursor/rules/use-bun-instead-of-node-vite-npm-pnpm.mdc
  .lintstagedrc
  .lintstagedrc.json
  .prettierrc.json
  PLUGIN_INSTALLATION.md
  TESTING-REPORT.md
  commitlint.config.cjs
Due: prettier --write

test: testing pre-commit hook
  mcp-server/test.md
Due: prettier --write

clean: remove test file
  mcp-server/test.md
Due: prettier --write

chore: update CI/CD with BWS integration and bunx semantic-release
  .github/workflows/release.yml
  .releaserc.json
  mcp-server/.npmrc
  mcp-server/package.json
  scraper/src/scraper.ts
Due: eslint --fix, prettier --write

chore: update bun.lock
  bun.lock
Due: none

fix: pin bun version and move .npmrc creation to CI step
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

fix: remove --frozen-lockfile to allow platform differences
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  mcp-server/package.json
Due: prettier --write

Notes added by 'git notes add'
  6972c36ba1b816897e254e1856f4a2a3054e15bd
Due: none

chore: clean up semantic-release config
  .releaserc.json
Due: prettier --write

feat: add CLI mode and fix findCounters bug
  bun.lock
  data/pokemon_pocket_cards.csv
  mcp-server/.npmrc
  mcp-server/README.md
  mcp-server/package.json
  mcp-server/src/cli.ts
  mcp-server/src/formatters.ts
  mcp-server/src/index.ts
  scraper/package.json
Due: eslint --fix, prettier --write

fix: move zod to peerDependencies to resolve npm pack issue
  mcp-server/package.json
Due: prettier --write

fix: add legacy-peer-deps to npmrc for semantic-release
  .github/workflows/release.yml
Due: prettier --write

fix: add npmVersionArgs to semantic-release for legacy-peer-deps
  .releaserc.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: ((((any of: *.ts) or (any of: *.js)) or (any of: *.json)) or (any of: *.md)) or (any of: *.{yml,yaml})
